<ion-view view-title="꼬마빌딩 번호 만들기!">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        뽑기
      </div>
      <div class="item item-text-wrap">

      <button class="button lotto active">1</button>      <button class="button lotto">2</button>      <button class="button lotto">3</button>      <button class="button lotto">4</button>
        <button class="button lotto">5</button>      <button class="button lotto">6</button>      <button class="button lotto">7</button>      <button class="button lotto">8</button>
        <button class="button lotto">9</button>      <button class="button lotto">10</button>      <button class="button lotto">11</button>      <button class="button lotto">12</button>
        <button class="button lotto">13</button>      <button class="button lotto">14</button>      <button class="button lotto">15</button>      <button class="button lotto">16</button>
        <button class="button lotto">17</button>      <button class="button lotto">18</button>      <button class="button lotto active">19</button>      <button class="button lotto">20</button>
        <button class="button lotto">21</button>      <button class="button lotto">22</button>      <button class="button lotto">23</button>      <button class="button lotto">24</button>
        <button class="button lotto">25</button>      <button class="button lotto active">26</button>      <button class="button lotto">27</button>      <button class="button lotto">28</button>
        <button class="button lotto">29</button>      <button class="button lotto">30</button>      <button class="button lotto">31</button>      <button class="button lotto">32</button>
        <button class="button lotto">33</button>      <button class="button lotto">34</button>      <button class="button lotto">35</button>      <button class="button lotto">36</button>
        <button class="button lotto">37</button>      <button class="button lotto">38</button>      <button class="button lotto">39</button>      <button class="button lotto">40</button>
        <button class="button lotto">41</button>      <button class="button lotto">42</button>      <button class="button lotto">43</button>      <button class="button lotto">44</button>
        <button class="button lotto">45</button>      <button class="button lotto">46</button>
      </div>

      <label class="item item-input item-floating-label">
        <span class="input-label">기념할 숫자를 넣어주세요</span>
        <input type="text" placeholder="기념할 숫자를 넣어주세요">
      </label>

    </div>
    <div class="list list-inset">
    <button class="button button-block button-dark ">번호 추첨!</button>
    </div>
  </ion-content>
</ion-view>
