<!DOCTYPE html>
<html>
  <head>
    <title><%= rows[0].NAME %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= rows[0].NAME %></h1>
    <p>Welcome to <%= rows[0].NAME %></p>
  </body>
</html>
